.homediv{
    color: white !important;
}
.hometitle {
       margin: 0 0 30px;
   padding: 0;
   color: #fff;
   text-align: center;
}
.homesection{
    margin-bottom: 10px;
}
.homesection img{
    float: right;
    margin-left: 20px;
}
.homediv {
     position: absolute;
     top: 500px;
     left: 50%;
     width: 1000px;
     padding: 40px;
     transform: translate(-50%, -50%);
     background: rgba(0, 0, 0, 0.5);
     box-sizing: border-box;
     box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
     border-radius: 10px;

 }
 .homediv h2{
    color: #03e9f4;
 }


